<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Publisher</title>
</head>
<body>
<div class="jumbotron">
    <a th:href="@{/books}" style="text-decoration: none; color: inherit;">
        <h1 class="display-4">Libro - Ваша Библиотека</h1>
        <p class="lead">Читайте книги с нами!</p>
    </a>
</div>
<h1>Edit Publisher</h1>
<form th:method="PATCH" th:action="@{/books/publishers/{publisherId}(publisherId=${publisher.publisherId})}" th:object="${publisher}">
    <!-- Input fields for updating publisher information -->
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required/>

    <label for="address">Address:</label>
    <input type="text" id="address" th:field="*{address}" required/>

    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" required/>

    <label for="website">Website:</label>
    <input type="text" id="website" th:field="*{website}" required/>

    <input type="submit" value="Update">
</form>
</body>
</html>
